@use "src/styles/utils" as *;

.btnExtra {
  height: 18px;
  padding: 2px 6px;
  @include font12();
  font-weight: 400;
  color: $dark2;
  background: #fff;
  box-shadow: inset 0 0 1px 1px rgb(0 0 0 / 0.25);
  border-radius: 4px;
  transition: all 0.3s linear;
  &:hover {
    color: $white;
    background: $dark;
  }
  &:active {
    color: $white;
    background: $neutral2;
    box-shadow: none;
  }
  &:disabled {
    color: $neutral2;
    box-shadow: none;
    border: 1px solid $neutral2;
  }
}

@media screen and (max-width: 480px) {
  .btnExtra {
    height: 20px;
  }
}
