// Настройки
@use "_config/variables" as *;
@use "_config/font" as *;

// Миксины
@use "_mixins/container" as *;
@use "_mixins/flex" as *;
@use "_mixins/reset" as *;

// Блоки
@use "./blocks/popup";
@use "./blocks/searchScroll";

// Компоненты
*,
*::before,
*::after {
  box-sizing: border-box;
  @include reset-model();
}

button {
  @include reset-button();
}

input,
button,
textarea,
select {
  outline: none;
}

ul, ol {
  list-style: none;
}

.wrapper {
  @include wrapper();
}

.container {
  @include container();
}

html,
body {
  @include reset-model();
  min-height: 100vh;
  background-color: $white;
  @include font18();
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 5px;
  }
}
