@use "src/styles/utils" as *;

.btnMain {
  @include font12();
  font-weight: 400;
  color: $white;
  text-shadow: 0 0 4px rgb(0 0 0 / 0.5);
  padding: 6px 12px;
  background: $blue3;
  box-shadow: 0 1px 1px rgb(0 0 0 / 0.25);
  border-radius: 2px;
  transition: all 0.3s linear;

  &:hover {
    background: $blue2;
  }

  &:active,
  &.active {
    background: $blue;
  }

  &:disabled {
    text-shadow: none;
    box-shadow: none;
    background: $neutral2;
  }
}
